.Form {
    display: block;
    padding: 5%;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 5vh;
}

.Form h1 {
    text-align: center;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: grid;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    max-width: 700px; 
    margin: 0 auto;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

form .imagemEsquerda img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

form .informacoesDireita {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.informacoesDireita input {
    width: 100%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}

.informacoesDireita button {
    border-radius: 50px;
    width: 100%;
    height: 50px;
    align-self: center;
    margin-top: 20px;
}

.Cargo {
    width: 100%;
    height: 40px;
}

.SwitchSelect>h3 {
    text-align: center;
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.41s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.41s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media (max-width: 768px) {
    .Form {
        padding: 5%;
        margin: 0 auto;
    }

    form {
        max-width: 90%;
        padding: 15px;
    }

    .informacoesDireita input {
        width: 100%;
    }

    .informacoesDireita button {
        width: 100%;
    }
}
