@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #7c7ddf;
    --black: #000000;
    --bg: rgba(137, 225, 245);
    --border: .1rem solid rgba(0, 0, 0, 0.3);
    
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background: var(--bg);
}

section{
    padding:11rem 7%;
    padding-left: 7%;
    padding-right: 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.header{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 10rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

.header .userBar{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form{
    position: absolute;
    top:30%; right: 19%;
    background: #fff;
    width: 30rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleX(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleX(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.header p {
    display: block;
    position: absolute;
    font-size: 10px;
    right: 210px;
    top: 15px;
}

/* Produtos da loja */
.produtos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.produtos .box-container .box{
    text-align: center;
    border:var(--border);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2rem;
    height: 55rem; width: 35rem;
}

.produtos .box-container .box .icons a{
    height: 5rem; width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    border-radius: 10rem;
    color:#ffffff;
    margin:.3rem;
}

.produtos .box-container .box .icons a:hover{
    background:var(--main-color);
}

.produtos .box-container .box .image{
    padding: 1.2rem 0;
}

.produtos .box-container .box .image img{
    height: 30rem; width: 30rem;
}

.produtos .box-container .box .content h3{
    color:#000000;
    font-size: 2.5rem;
}

.produtos .box-container .box .content .price{
    color:#fe0101;
    font-size: 2.5rem;
}

.produtos .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.produtos .box-container .box .content button{
    width: 19rem;
    height: 4rem;
}
.produtos .box-container .box .content button:hover{
    background-color: var(--black);
    color: var(--bg);
}

.heading{
    display: block;
    position: relative;
    top: 3rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

/* Responsividade */
@media (max-width: 1024px) {
    
    header {
        padding: 1rem 5%;
    }

    .header .logo img {
        height: 8rem;
    }

    .header .navbar a {
        font-size: 1.4rem;
    }

    .header .icons div {
        font-size: 2rem;
    }

    .header .search-form {
        width: 40rem;
        height: 4rem;
    }

    .header .cart-items-container {
        width: 30rem;
    }

    .produtos .box-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .produtos .box-container .box .icons a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 1.5rem;
    }

    .produtos .box-container .box .content h3 {
        font-size: 2rem;
    }

    .produtos .box-container .box .content .price {
        font-size: 2rem;
    }
}