body {
    font-family: Arial, sans-serif;
    background-color: #a61212;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #121111;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
h1 {
    color: #f8f5f5;
    margin-bottom: 20px;
}
.options a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.options a:hover {
    background-color: #0056b3;
}