body {
    background-color: #a61212;
    font-family: Arial, sans-serif;
    
}

.container {
<<<<<<< HEAD
=======
    transform: translate(0, 30%);
>>>>>>> a48de40 (adicionado barra de navegacao nas telas)
    background-color: #fff; /* Cor de fundo da tabela */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto; /* Centraliza a .container */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.actions a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
}

.actions a:hover {
    color: #0056b3;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}
a{
    text-decoration: none;
}