* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.content section {
    position: relative;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


button {
    border-radius: 10px;
    width: 100px;
    height: 54px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


.barraPesquisa input {
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
}


.barraPesquisa a {
    text-decoration: none;
    position: relative;
    top: 10vh;
    left: -10vh;
}

.barraPesquisa p {
    text-align: center;
    position: relative;
    bottom:  90px;
    left: 130px;
}

.barraPesquisa p:hover {
    color: rgb(255, 0, 0);
}


table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 3px solid #eee;
}

table thead tr th {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}

table tbody tr {
    border-bottom: 3px solid #ff0000;
}

table tbody tr:last-child {
    border: none;
}

table tbody tr {
    padding: 30px 0;
}


table thead tr th a {
    text-decoration: none;
    color: #ff0000;
}


@media (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .barraPesquisa input {
        max-width: 300px;
        width: 100%;
    }

    table {
        width: 90%;
    }

    button {
        width: 80px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .barraPesquisa input {
        max-width: 250px;
        width: 100%;
    }

    table thead tr th, table tbody tr {
        font-size: 14px;
    }

    button {
        width: 70px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    header {
        align-items: center;
        padding: 10px;
    }

    .barraPesquisa input {
        max-width: 200px;
        width: 100%;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    button {
        width: 60px;
        height: 35px;
    }
}
