body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a61212;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 100px;
    }
     
    .product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    }
    
    .cart {
    margin-top: 30px;
    }
    
    .frete-options {
    margin: 10px 0;
    }
    
    .total {
    font-weight: bold;
    }
    
    button {
    padding: 5px 10px;
    cursor: pointer;
    }

    .botaoComprar {
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 8px;
        background-color: #0e1351;
        color: white;
        border: none;
        cursor: pointer;
    }

    .btn-remover {
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 8px;
        background-color: #0e1351;
        color: white;
        border: none;
        cursor: pointer;
    }