body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px;
        color: white;
    }
    
    .product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    }
    
    .cart {
    margin-top: 30px;
    }
    
    .frete-options {
    margin: 10px 0;
    }
    
    .total {
    font-weight: bold;
    }
    
    button {
    padding: 5px 10px;
    cursor: pointer;
    }
    
    .imageLogo img {
        position: absolute;
        bottom: 62%;
        width: 20%;
        margin-bottom: 20px;
    }
    
    .pesquisarCampo {
        display: block;
        position: absolute;
        left: 40%;
        top: 10vh;
    }
    
    .pesquisarCampo input {
        border-radius: 100px;
        height: 30px;
        width: 250px;
        text-align: center;
        margin-left: 80px;
    }
    
    .pesquisarCampo i {
        position: relative;
        left: 18%;
    }
    
    .menu-icon {
        display: flex;
        flex-direction: column;
    }
    
    .menu-icon h4 {
        display: block;
        position: relative;
        font-weight: 3900;
        top: 10vh;
        right: 20vh;
    }
    
    .menu-icon i {
        display: block;
        position: relative;
        bottom: 4.1vh;
        top: 9vh;
        right: 19vh;
    }
    
    .menu-icon ul li {
        position: relative;
        top: 4.1vh;
        right: 80%;
        list-style: none;
    }
    
    main {
        padding-top: 100px;
    }
    
    body {
        background-color: rgb(137, 225, 245);
    }
    
    nav img {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
    }
    main {
        padding-top: 100px; /* Ajuste conforme necessário */
    }

    .botaoComprar {
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 8px;
        background-color: #0e1351;
        color: white;
        border: none;
        cursor: pointer;
    }